/cari di online
/coba.ipynb
/coba_hama_mobilenet_v2.h5
/dataset coba
/dataset dokter cabai
/dokter cabai.ipynb
/dokter_cabai_mobilenet_v2 copy.h5
/dokter_cabai_mobilenet_v2.h5
/image.png
/leaf curl 3.png
/leaf curl.png
/leaf spot.png
/test.ipynb
/yellowish.png